@font-face {
	font-family: 'GurbaniAkharThick';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Thick/GurbaniAkharTrue-Thick-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Thick/GurbaniAkharTrue-Thick-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Thick/GurbaniAkharTrue-Thick-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Thick/GurbaniAkharTrue-Thick-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Thick/GurbaniAkharTrue-Thick-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Thick/GurbaniAkharTrue-Thick-1.6.svg#GurbaniAkharTrue-Thick-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GurbaniAkharHeavy';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Heavy/GurbaniAkharTrue-Heavy-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Heavy/GurbaniAkharTrue-Heavy-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Heavy/GurbaniAkharTrue-Heavy-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Heavy/GurbaniAkharTrue-Heavy-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Heavy/GurbaniAkharTrue-Heavy-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Heavy/GurbaniAkharTrue-Heavy-1.6.svg#GurbaniAkharTrue-Heavy-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GurbaniAkhar';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Regular/GurbaniAkharTrue-Regular-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Regular/GurbaniAkharTrue-Regular-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Regular/GurbaniAkharTrue-Regular-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Regular/GurbaniAkharTrue-Regular-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Regular/GurbaniAkharTrue-Regular-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/GurbaniAkhar/Regular/GurbaniAkharTrue-Regular-1.6.svg#GurbaniAkharTrue-Regular-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AnmolLipi';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Regular/AnmolLipiTrue-Regular-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Regular/AnmolLipiTrue-Regular-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Regular/AnmolLipiTrue-Regular-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Regular/AnmolLipiTrue-Regular-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Regular/AnmolLipiTrue-Regular-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Regular/AnmolLipiTrue-Regular-1.6.svg#AnmolLipiTrue-Regular-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AnmolLipiBold';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Bold/AnmolLipiTrue-Bold-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Bold/AnmolLipiTrue-Bold-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Bold/AnmolLipiTrue-Bold-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Bold/AnmolLipiTrue-Bold-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Bold/AnmolLipiTrue-Bold-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolLipi/Bold/AnmolLipiTrue-Bold-1.6.svg#AnmolLipiTrue-Bold-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSansGurmukhi';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Regular/NotoSansGurmukhiTrue-Regular-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Regular/NotoSansGurmukhiTrue-Regular-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Regular/NotoSansGurmukhiTrue-Regular-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Regular/NotoSansGurmukhiTrue-Regular-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Regular/NotoSansGurmukhiTrue-Regular-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Regular/NotoSansGurmukhiTrue-Regular-1.6.svg#NotoSansGurmukhiTrue-Regular-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSansGurmukhiBold';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Bold/NotoSansGurmukhiTrue-Bold-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Bold/NotoSansGurmukhiTrue-Bold-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Bold/NotoSansGurmukhiTrue-Bold-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Bold/NotoSansGurmukhiTrue-Bold-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Bold/NotoSansGurmukhiTrue-Bold-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/NotoSansGurmukhi/Bold/NotoSansGurmukhiTrue-Bold-1.6.svg#NotoSansGurmukhiTrue-Bold-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Prabhki';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/Prabhki/PrabhkiTrue-Regular-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/Prabhki/PrabhkiTrue-Regular-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/Prabhki/PrabhkiTrue-Regular-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/Prabhki/PrabhkiTrue-Regular-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/Prabhki/PrabhkiTrue-Regular-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/Prabhki/PrabhkiTrue-Regular-1.6.svg#PrabhkiTrue-Regular-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AnmolBani';
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolUniBaniTrue/AnmolUniBaniTrue-Regular-1.6.eot');
	src: url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolUniBaniTrue/AnmolUniBaniTrue-Regular-1.6.eot?#iefix') format('embedded-opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolUniBaniTrue/AnmolUniBaniTrue-Regular-1.6.woff2') format('woff2'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolUniBaniTrue/AnmolUniBaniTrue-Regular-1.6.woff') format('woff'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolUniBaniTrue/AnmolUniBaniTrue-Regular-1.6.otf')  format('opentype'),
		url('https://gurbaninow.com/assets/fonts/gurmukhi/AnmolUniBaniTrue/AnmolUniBaniTrue-Regular-1.6.svg#AnmolUniBaniTrue-Regular-1.6') format('svg');
	font-weight: normal;
	font-style: normal;
}