body { 
	padding-top: 80px;
}
.gurmukhi {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}
.gurmukhi-keyboard {
	background-color: #ccc;
	display: none;
	font-size: 0;
	width: 300px;
}
.gurmukhi-keyboard .page {
	display: none;
}
.gurmukhi-keyboard .keyboard-row {
	border-bottom: 2px solid #999;
}
.gurmukhi-keyboard .keyboard-row-set {
	display: inline-block;
	width: 50%;
}
.gurmukhi-keyboard .keyboard-row:nth-child(2n-1) .keyboard-row-set:nth-child(1),
.gurmukhi-keyboard .keyboard-row:nth-child(2n) .keyboard-row-set:nth-child(2) {
	background-color: #fff;
}
.gurmukhi-keyboard button {
	background-color: transparent;
	font-size: 2rem;
	text-align: center;
	width: 20% !important;
	color: black;
	border-color: transparent;
}
input::-ms-clear {
	display: none;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after,
.checkbox input[type=checkbox]:checked + label:after {
    font-family: "Font Awesome 5 Free" !important;
	font-weight: 900 !important;
    content: "\f00c" !important;
}

input[type="checkbox"].styled:checked label:after,
input[type="radio"].styled:checked label:after,
.checkbox label:after {
    padding-left: 4px;
    padding-top: 2px;
    font-size: 9px;
}