/* Embed gurbaniwebthick font */
@font-face {
	font-family: 'GurbaniHindi';
	src: url(fonts/GurbaniHindiTrue.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GurbaniRoman';
	src: url(fonts/gurroman.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
/******************/
/*     MAIN       */
/******************/
.navbar-brand {
	padding: 0px;
}
.navbar-brand>img {
	height: 100%;
	padding: 15px;
	width: auto;
}
/***** SHABAD INFO *****/
#backBtn {
	display: none;
}
#shareBtn {
	display: none;
}
#menuBtn {
	display: none;
}
#divShabad {
	display: none;
}
#divShabadInfo {
	display: none;
}
#baaniNameGurmukhi {
	font-family: Gurbani;
	-webkit-font-smoothing: antialiased;
}
#Gurmukhi,.shabadGurmukhi {
	font-family: Gurbani;
	-webkit-font-smoothing: antialiased;
}
#Gurmukhi {
	font-size: 1.3em;
}
#setting-left {
	float: left;
	width: 49%;
}
#setting-right {
	float: right;
	width: 49%;	
}
.shabadGurmukhi {
	font-size: 2em;
}
.shabadHindi {
	font-family: GurbaniHindi;
	font-size: 1.5em;
}
.shabadRoman {
	font-family: GurbaniRoman;
	font-size: 1em;
}
.shabadTransliteration {
	font-size: 1em;
}
#English,.shabadEnglish,.shabadPunjabi {
	font-size: .8em;
}
.shabadPunjabi {
	font-family: Gurbani;
}
/***** BACK TO TOP *****/
#divScrollTop {
	position: fixed;
	bottom: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

#divScrollBottom {
	position: fixed;
	bottom: 0;
	right: 0;
	cursor: pointer;
	display: none;
}